.MarginDummyClass {

    margin-top:1000px;
}

#ManagementPage{

    color: brown;
    font: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 80px;
    padding-top: 15px;
    font-size: 200%;
    align-self: center;
}

#CategoryListAlignText{

    text-align: center;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}

img.opacity {

    opacity: 0.5;
    background-color: gray;
  }

.paddingTop{

    padding-top: 7%;
}



.paddingTop#CategoriesList{

    padding-top: 38px;
}

.MarginRight{

    margin-right: 5px;
}


.ValidationError{

    color: red;
    font-weight: bold;
}


form a {

    margin-left: 5px;
}


#footer  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(108, 173, 226, 0.753);
    color:firebrick;
    text-align: center;
    font-size: 15px;
    font-style: bold;
}

  .footer-block {
    margin: 20px 0;
  }

  .CategoriesViewBlock{
      float: right;
      width: 70%;
      padding: 15px;
      box-sizing: border-box;
  }

  .CategoriesListBlock{
    float: left;
    width: 30%;
    padding: 15px;
    margin-top: 14%;
    box-sizing: border-box;
}

.CategoriesViewBackGround{

    
    background-color: rgba(163, 163, 162, 0.589);
    border-radius: 25px;

}

.CategoriesViewPadding{

    
    padding: 10%;

}

#ButtonsFloat{

        float: right;
        box-sizing: border-box;
}

#ButtonsFloatLeft{

    float: left;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 25px;
    box-sizing: border-box;
}


.CtegoriesViewButtonsPadding{

    padding: 10%;

}

.SubCategoryLabel{

    display: block;
    text-align: center;
}

.SubCategorydivStyle{

    width: 40%;
    float: left;
    align-self: center;
    margin-top: 40px;
    margin-right: 50px;
    background-color: rgba(163, 163, 162, 0.589);
    border-radius: 25px;
    box-sizing: border-box;
}

.SubCategoryWholedivStyle{

    align-self: auto;
    margin-left: 10%;
}

.PackagesSearchBar{

    margin-top: 5px;
    padding-top: 5%;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 33.3%;
    float: left;
    box-sizing: border-box;

}